---
import { SITE } from "@config";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
import Header from "@components/Header.astro";
import LinkButton from "@components/LinkButton.astro";
import slugify from "@utils/slugify";
import Footer from "@components/Footer.astro";
import { type CollectionEntry } from "astro:content";
import Hr from "@components/Hr.astro";
import dayjs from "dayjs";

export interface Props {
  collectionData: CollectionEntry<"blog">[];
}

const { collectionData } = Astro.props;

// 按标签对集合内容进行分类
const postsByTag = collectionData.reduce(
  (acc: { [key: string]: CollectionEntry<"blog">[] }, post) => {
    post.data.tags.forEach((tag: string) => {
      if (!acc[tag]) acc[tag] = [];
      acc[tag].push(post);
    });
    return acc;
  },
  {} as { [key: string]: CollectionEntry<"blog">[] }
);

// 对每个标签下的帖子按日期排序（从新到旧）
Object.keys(postsByTag).forEach((tag) => {
  postsByTag[tag].sort((a, b) => 
    new Date(b.data.pubDatetime).getTime() - new Date(a.data.pubDatetime).getTime()
  );
});
---

<Layout title={`集 | ${SITE.title}`}>
  <Header activeNav="collection" />
  <Main pageTitle="集" pageDesc="分类收集">
    <div>
      {
        Object.keys(postsByTag)
          .sort()
          .map(tag => (
            <div class="pt-0.5">
              <div class="my-6">
                <Hr noPadding={true} ariaHidden={true} />
              </div>
              <span class="tag-title text-lg font-semibold">{tag}</span>
              {postsByTag[tag].map(post => (
                <div class="collection-item my-6 pb-2 border-b border-gray-100 dark:border-gray-800">
                  <div class="flex flex-col md:flex-row">
                    <div class="min-w-24 text-sm text-gray-500">
                      {dayjs(post.data.pubDatetime).format("YYYY/MM")}
                    </div>
                    <div class="flex flex-col space-y-1">
                      <LinkButton
                        className="hover:text-skin-primary text-skin-base py-0 no-underline"
                        href={`/collection/${slugify(post.data)}`}
                      >
                        <div class="collection-title-container">
                          <p class="collection-title line-clamp-2 md:line-clamp-1 mb-1 pb-0">{post.data.title}</p>
                          <p class="description italic text-gray-300 text-xs mt-1 pt-0 leading-normal">{post.data.description}</p>
                        </div>
                      </LinkButton>
                    </div>
                  </div>
                </div>
              ))}
            </div>
          ))
      }
    </div>
  </Main>
  <Footer />

  <style>
    .pagination-wrapper {
      @apply mb-8 mt-auto flex justify-center;
    }
    .disabled {
      @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
    }
    .disabled-svg {
      @apply group-hover:!fill-skin-base;
    }
    .tag-title {
      @apply my-4 text-lg font-semibold;
    }
    .collection-title {
      @apply break-words hyphens-auto font-normal leading-normal;
    }
    .collection-item {
      @apply py-0;
    }
    .collection-title-container {
      @apply flex flex-col space-y-0;
    }
    .description {
      @apply mt-0;
    }
  </style>
</Layout>
